// Imports -------------------------------------------------------------------

@import "base";

/* Layout ------------------------------------------------------------------*/


body{

  font-family: $base-font-family;
  @include establish-baseline(13px);
  a{
    @include link-colors($loud-color, $loud-color, $loud-color,  $loud-color,  $loud-color);
    @include hover-link;

  }

  color: $font-color;


}

.container {
  @include container;


  #Content{
    @include columns(13);
  }

  #Navigation
  {
    background-color: #DDD;
    @include border-radius;
    @include box-shadow($quiet-color 1px 1px 2px);
    padding: $m/2 0;
    ul{
      @include inline-list;
      margin: 0;
      padding: 0;
      li{
        padding: $m/2 $m;

      }

    }

  }
  #Breadcrumbs
  {
    font-size: 80%;
    margin: 0 $m;
    height: $m*2;


  }
  #Sidebar{
    background-color: #DDD;
    @include border-radius;
    @include box-shadow($quiet-color 1px 1px 2px);
    @include columns(3);
    h3{
      padding: 0 0 0 $m;
    }
    #SideNavigation{
      margin: 0;
      padding: 0;
      @include no-bullet;
      li{
        padding: $m/2 $m;
      }
    }
  }

}

